@model PNT1_Grupo6.Models.Producto

@{
    ViewData["Title"] = "Details";
}

<div class="fondo">
    <h1>Details</h1>
</div>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaximoAlmacenable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaximoAlmacenable)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioVenta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrecioVenta)
        </dd>
    </dl>
</div>
<div class="botones">
    <a class="rojo" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a class="verde" asp-action="Index">Volver a la lista</a>
</div>


<style>
    .row {
        margin-left: 400px;
    }

    .botones {
        margin-left: 400px;
    }

    .rojo {
        padding: 8px 16px;
        background-color: red;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }

        .rojo:hover {
            color: white;
            text-decoration: none;
            background-color: darkred;
        }

    .verde {
        padding: 8px 16px;
        background-color: green;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }

        .verde:hover {
            color: white;
            text-decoration: none;
            background-color: darkgreen;
        }

    .fondo {
        background-color: #1861ac;
        border-radius: 10px;
        color: white;
        text-align: center;
    }
</style>