@model IEnumerable<PNT1_Grupo6.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Productos</h1>
@if (TempData["ProductoError"] != null)
{
    <div class="alert alert-danger">
        @TempData["ProductoError"]
    </div>}
<p>
    <a class="btn-create" asp-action="Create">Crear nuevo</a>
</p>
<p>
    Ordenar por:
    <select id="orderBySelect">
        <option value="">Seleccionar...</option>
        <option value="Id">Codigo de Producto</option>
        <option value="MayorPrecio">Mayor Precio</option>
        <option value="MenorPrecio">Menor Precio</option>
        <option value="Nombre">Nombre de Producto</option>
    </select>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaximoAlmacenable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioVenta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximoAlmacenable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioVenta)
            </td>
            <td>
                <a class="verde" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a class="amarillo" asp-action="Details" asp-route-id="@item.Id">Info</a> |
                <a class="rojo" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        document.getElementById('orderBySelect').addEventListener('change', function () {
            var selectedValue = this.value;
            var url = '@Url.Action("Index", new { orderBy = "placeholder" })';
            window.location.href = url.replace("placeholder", selectedValue);
        });
    </script>
}


<style>
    .fondo-tabla {
        background-color: darkgray;
        border: 3px solid black;
    }

    .blanco {
        color: white;
    }

    .btn-create {
        display: inline;
        padding: 8px 16px;
        background-color: green;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        margin-left: 200px;
    }

        .btn-create:hover {
            color: black;
            text-decoration: none;
        }

    h1 {
        display: inline;
    }

    .verde {
        padding: 8px 16px;
        background-color: green;
        color: black;
        text-decoration: none;
        border-radius: 15px;
    }

    .amarillo {
        padding: 8px 16px;
        background-color: yellow;
        color: black;
        text-decoration: none;
        border-radius: 15px;
    }

    .rojo {
        padding: 8px 16px;
        background-color: red;
        color: black;
        text-decoration: none;
        border-radius: 15px;
    }
    .table {
        border: 3px solid black;
    }
</style>