@model IEnumerable<PNT1_Grupo6.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (TempData["ProductoError"] != null)
{
    <div class="alert alert-danger">
        @TempData["ProductoError"]
    </div>}
<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    Ordenar por:
    <select id="orderBySelect">
        <option value="">Seleccionar...</option>
        <option value="Id">Codigo de Producto</option>
        <option value="MayorPrecio">Mayor Precio</option>
        <option value="MenorPrecio">Menor Precio</option>
        <option value="Nombre">Nombre de Producto</option>
    </select>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaximoAlmacenable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioVenta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximoAlmacenable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioVenta)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        document.getElementById('orderBySelect').addEventListener('change', function () {
            var selectedValue = this.value;
            var url = '@Url.Action("Index", new { orderBy = "placeholder" })';
            window.location.href = url.replace("placeholder", selectedValue);
        });
    </script>
}
