@{
    var usuario = Context.Items["Usuario"] as Usuario;

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PNT1_Grupo6</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="container layout-container">
    <header>
        <nav class=" navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-color border-bottom box-shadow mb-3 dark-color">
            <div class="container">
                <a class="navbar-brand no-burbujas ml-0 font-size-20" asp-area="" asp-controller="Home" asp-action="Index">Gestor de Productos</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="lista navbar-nav flex-grow-1">
                        @{
                            //var usuario = ViewData["Usuario"] as Usuario;
                        }
                        @if (usuario != null)
                        {
                            <li class="burbujas nav-item">
                                <a class="nav-link text-dark amarillo" asp-area="" asp-controller="Usuarios" asp-action="Index">Usuarios</a>
                            </li>
                            <li class="burbujas nav-item naranja-claro">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Proveedores" asp-action="Index">Proveedores</a>
                            </li>
                            <li class="burbujas nav-item naranja-medio">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Productos" asp-action="Index">Productos</a>
                            </li>
                            <li class="burbujas nav-item naranja-oscuro">
                                <a class="nav-link text-dark" asp-area="" asp-controller="OrdenesCompra" asp-action="Index">Órdenes de compra</a>
                            </li>



                         <div class="derecha">
                            <li class=" nav-item">
                                <form asp-controller="Sessions" asp-action="Logout" method="post">
                                    <button type="submit" class="btn btn-sm text-dark sesion btn-cerrar-sesion ">Cerrar sesión</button>
                                </form>
                            </li>

                            <li class="avatar nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Sessions" asp-action="Index">
                                    <div class="d-flex align-items-center">
                                        <div class="ml-2">
                                            <div class="font-weight-bold">@usuario.UserName</div>
                                            <div class="small text-muted">@usuario.RolUsuario</div>
                                        </div>
                                        <div class="avatar-image">
                                            <!-- Agregar imagen del avatar circular aquí -->
                                            <img src="~/css/user-icon.png" alt="Avatar" class="avatar-image" />
                                        </div>
                                    </div>
                                </a>
                            </li>
                         </div>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Sessions" asp-action="Index">Iniciar sesión</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Gestor de producros - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

<style>
    .avatar{
        
        background-color:orange;
        border-radius:25px;
    }
    .avatar-image{
        color:red;
        
    }
    .dark-color {
        background-color: #F5F5DC;
    }

    .azul{
        background-color:blue;
    }
    .derecha{
        display:flex;
        margin-left:280px;

    }
    
    .sesion:hover{
        text-decoration:underline;
        
    }
    .burbujas {
        
        border-radius: 20px;
        text-align: center;
        max-width: 200px;
        height: 50px;
        margin: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

        .burbujas a {
            font-weight: bold;
            line-height: 2;
        }

    .navbar-brand {
        background-color: indianred;
        border: 2px solid #000;
        border-radius: 0;
        padding: 10px 20px;
        display: inline-block;
        color: #000;
        text-decoration: none;
        font-size: 18px;
    }

    .sesion {
        background-color: red;
        border: none;
        border-radius: 20px;
        padding: 5px 10px;
        color: white;
        font-size: 14px;
        white-space: nowrap;
    }

    .font-size-20 {
        font-size: 20px;
        margin-right:150px;
    }

    .amarillo {
        background-color: #FFD700; /* Amarillo */
    }

    .naranja-claro {
        background-color: #FFA500; /* Naranja claro */
    }

    .naranja-medio {
        background-color: #FF8C00; /* Naranja medio */
    }

    .naranja-oscuro {
        background-color: #FF4500; /* Naranja oscuro */
    }
</style>