@model PNT1_Grupo6.Models.OrdenCompra

@{
    ViewData["Title"] = "Delete";
}

<div class="fondo">
    <h1>Eliminar</h1>

    <h3>Estas seguro de que quieres eliminar esto?</h3>
</div>
<div>
    <h4>OrdenCompra</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroOrden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroOrden)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoProveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoProveedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreProveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreProveedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioUnitario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioUnitario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
    
    <form class="botones" asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a class="verde" asp-action="Index">Volver a la lista</a>
    </form>
</div>

<style>
    .row {
        margin-left: 430px;
    }

    .botones {
        margin-left: 430px;
    }

    .verde {
        padding: 8px 16px;
        background-color: green;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }

        .verde:hover {
            color: white;
            text-decoration: none;
            background-color: darkgreen;
        }

    .fondo {
        background-color: #1861ac;
        border-radius: 10px;
        color: white;
        text-align: center;
    }
</style>