@model IEnumerable<PNT1_Grupo6.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Usuarios</h1>
@if (TempData["UsuariosError"] != null)
{
    <div class="alert alert-danger">
        @TempData["UsuariosError"]
    </div>}

<p>
    <a class="btn-create" asp-action="Create">Crear nuevo</a>
</p>
<table class="table fondo-tabla">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RolUsuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dni)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RolUsuario)
                </td>
                <td>
                    <a class="verde" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="amarillo" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="rojo" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    .fondo-tabla{
        background-color:darkgray;
        border:3px solid black;
    }
    .blanco{
        color:white;
    }

    .btn-create {
        display: inline;
        padding: 8px 16px;
        background-color: green;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        margin-left:200px;
       
       
    }

    .btn-create:hover{
        color:black;
        text-decoration:none;
    }
    h1{
        display:inline;
    }
    .verde {
      
        padding: 8px 16px;
        background-color: green;
        color: black;
        text-decoration: none;
        border-radius: 15px;
        
    }
    .amarillo {
        padding: 8px 16px;
        background-color: yellow;
        color: black;
        text-decoration: none;
        border-radius: 15px;
    }
    .rojo {
        padding: 8px 16px;
        background-color: red;
        color: black;
        text-decoration: none;
        border-radius: 15px;
    }
</style>
